body {
    margin: 0;
    padding: 0;
}

html,
body,
.map {
    height: 100%;
}

.leaflet-control-layers, .leaflet-bar {
    border-radius: 0 !important;
}

.leaflet-control-layers-expanded {
    padding: 6px;
}

.leaflet-tooltip-top:before {
    display: none !important;
}

.leaflet-marker-icon:hover {
    border-radius: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}