body {
    margin: 0;
    padding: 0;
}

html,
body,
.map {
    height: 100%;
}

.leaflet-control-layers, .leaflet-bar {
    border-radius: 0 !important;
}

.leaflet-control-layers-expanded {
    padding: 6px;
}